<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>

<link rel="stylesheet" href="../../../assets/css/allcss.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->

</head>
<body>

    <div class="mainC">

        <div class="mainCp">

            <div class="row p-0">

                <div class="col-7">
<div id="html-content-holder" >
            <img  class="card-img " alt="">
            <div class="card-img-overlay Gp0m0" ><img class="card-img" src="../../../assets/img/avatar/H2.png" alt=""></div>
            <div class="card-img-overlay Gp0m0" > <img class="card-img"  src="../../../assets/img/avatar/pant2.png" alt=""></div>
            <div class="card-img-overlay Gp0m0" > <img class="card-img"  src="../../../assets/img/avatar/tops.png" alt=""></div>
            <div class="card-img-overlay Gp0m0"> <img class="card-img"  src="../../../assets/img/avatar/shocks.png" alt=""></div>  
            <div class="card-img-overlay Gp0m0" > <img class="card-img"  src="../../../assets/img/avatar/cat.png" alt=""></div> 
  
        </div>
    </div>


    
    <div class="col-5">
    <input id="btn-Preview-Image" type="button" value="Preview"/>
    <a id="btn-Convert-Html2Image" href="#">Download</a>
    <br/>
    <h3>Preview :</h3>
    <div id="previewImage">
    </div>
</div>

</div>
</div>
</div>


<script>
$(document).ready(function(){

    
var element = $("#html-content-holder"); // global variable
var getCanvas; // global variable
 
    $("#btn-Preview-Image").on('click', function () {
         html2canvas(element, {
         onrendered: function (canvas) {
                $("#previewImage").append(canvas);
                getCanvas = canvas;
             }
         });
    });

    $("#btn-Convert-Html2Image").on('click', function () {
    var imgageData = getCanvas.toDataURL("image/png");
    // Now browser starts downloading it instead of just showing it
    var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
    $("#btn-Convert-Html2Image").attr("download", "your_pic_name.png").attr("href", newData);
    });

});

</script>
</body>
</html>