                  
                  /* <img class="topicon m-1" src="img/icon/home.png"/>
                    <img class="topicon m-1" src="img/icon/heart.png"/>
                    <img class="topicon m-1" src="img/icon/rage].png"/> */
 
.incb1{    
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    background-size: 100% 100%; background-position: top left;
    content: '';
}
.incb2{
    width: 2rem;
    height: 2rem; 
    display: inline-block;
    background-size: 100% 100%; background-position: top left;
    content: '';
}

.iC-home{
     background-image:url("../img/icon/home.png");
}                    
.iC-heart{
    background-image:url("../img/icon/heart.png");
}   
.iC-rage{
   background-image:url("../img/icon/rage.png");
}  

.iC-energy{
    background-image: url("../img/icon/energy.png");
}

.iC-stng{
    background-image:url("../img/stngimg.png");
 }   
 
 .iC-navHome{
    background-image:url("../img/nav-icon/nav.jpg");
 }       
 
 
